extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Events | Music

block contents

    .u-container
    
        h1 Music at Inman Park Festival
        
        mixin tertiaryNav(globals.events.nav, "music")
    
    .Hero
        p Band promos go here
    
    .u-container
    
        p Need to figure out how this section will be organized and what band content we will host beyond the schedule.

    
    script.
        var ipf = {};
        ipf.page = 'music';
