doctype html
html(lang="en")
    block pageVars

    head

        block title
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='/assets/css/main.css', rel='stylesheet')
            

    body
        
        header.container
            nav              
              each nav in navs
                if nav.name.toLowerCase() === selectedNav
                  a(href=nav.url class="active")= nav.name
                else
                  a(href=nav.url)= nav.name

        main

            block contents


        footer.container
            nav
                a(href="/contact-us") Contact Us
                a(href="/terms-of-use") Terms of Use
                a(href="/privacy-policy") Privacy Policy
                a(href="/trademark") Trademark Use
            
            p.fineprint #{copyright}
