doctype html
html(lang="en")
    block pageVars

    head

        block title
        
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")

        link(href='/assets/css/main.css', rel='stylesheet')
            

    body
        
        header
            nav
              - var navs = [ { name: 'Home', url: '/' }, { name: 'About', url: '/about' }, { name: 'Market', url: '/market' }, { name: 'Events', url: '/events' }, { name: 'Sponsors', url: '/sponsors' }, { name: 'Volunteer', url: '/volunteer' } ]
              
              each nav in navs
                if nav.name.toLowerCase() === selectedNav
                  a(href=nav.url class="active")= nav.name
                else
                  a(href=nav.url)= nav.name

        main

            block contents


        footer
            p contact | terms | privacy | copyright notice
