extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Community Corner

block contents

    .u-container
    
        h1 Community Corner
        
        mixin tertiaryNav(globals.markets.nav, "community corner")
        
        p Non-profit organization may request a space in the Community Corner which is separate from the main vendor area. Appropriate applicants (registered non-profit) are accepted based on availability on first come, first serve basis.

        p Below are last year’s non-profit organizations.
