extends ../templates/layout.jade

block pageVars

block title
    title #{globals.ipf.title} | Lost and Found

block contents

    .u-container

        h1 Lost and Found

        p If you have lost or found an item during festival, please stop by the information booth at the intersection of Euclid Avenue and Elizabeth Street to drop off or look for lost items.

        p
            | If you need to contact the festival staff for lost and found items, please send an email to Karin Mebius at 
            = ' '
            a(href="mailto:karinmebius@gmail.com") karinmebius@gmail.com.

            
