extends ../../templates/layout.jade

block title
    title #{ipf.title} | Arts & Crafts Market

block contents

    .u-container
    
        h1 Arts & Crafts Market
        
        p Our juried Arts and Crafts Show includes more than 150 fine artists working in sculpture, paintings, and photography.

        p Below are last year's Arts & Crafts vendors.
