extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Events | Dane

block contents

    .u-container
    
        h1 Inman Park Dance Festival
        
        mixin tertiaryNav(globals.events.nav, "dance")
    
    .Hero
        p Dance photos go here
    
    .u-container
    
        p Did you ever wonder where ballet came from? This art form is really quite absurd when you take a look at it. Why do they walk like ducks and what are they doing with their arms, circles!? It just is not natural. And then there is modern dance. Is it all suffering? Why are they on the floor!? Get up and cheer up for goodness sake.

        p At the Inman Park Dance Festival some of these questions will be answered. This is because this year’s line-up of performing companies and presented work is really exceptional. It spans 300 years of dance history, has field definers and the next generation of groundbreakers.

        p ---this year's description goes here---
        
        p So, take a seat after the Parade or visiting every booth on Edgewood, be entertained and be impressed by the work of these accomplished and varied artists.
        
        p 
            | The dance festival takes place on: Saturday, #{globals.ipf.date.saturday.date} and Sunday, #{globals.ipf.date.sunday.date}, #{globals.ipf.date.year} at 4:00 pm and is located at the Trolley Barn at 963 Edgewood Ave NE. 
            = ' '
            a(href="https://www.google.com/maps/place/THE+TROLLEY+BARN/@33.756329,-84.356141,17z/data=!3m1!4b1!4m2!3m1!1s0x88f503ff905e1bed:0xc1626dc0cd684569") [map]
