extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Trademark Usage

block contents

    .u-container
        
        h1 Trademark Usage
        
        p The butterfly logo is a trademark and/or service mark of Inman Park Neighborhood Association, Inc. and may not be used or displayed in any manner without the express prior written permission of Inman Park Neighborhood Association.  Any other trademarks or service marks that appear on the website are the property of their respective owners.
