extends ../templates/layout.jade

block title
    title #{ipf.title} | Map

block contents

    h1 Map

    article

        h2 this page

        p Maybe this page becomes /arrival and contains Map, Directions and Parking info.
