extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Map

block contents

    .u-container

        h1 Map

        p Maybe this page becomes /arrival and contains Map, Directions and Parking info.
