.Note {
    display: block;
    font-size: 0.9375em;
    font-style: italic;
    color: #444;
}

.PlaceholderImage {
    min-height: 100px;
    margin: 1em 0;
    padding: 2em;
    background: #eee;
    text-align: center;
    text-style: italic;
    color: #999;
}
