header {
    width: 100%;
    padding: 1em 0;
    background: rgb(230, 230, 230);
}

.NavPrimary {
    margin-bottom: 0.5em;

    a {
        font-size: 1em;
    }
}

.NavSecondary a {
    font-size: 0.75em;
}
