extends ../templates/layout.jade

block title
    title #{title} | Volunteers

block contents

    h1 Volunteers Page

    article

        h2 this page

        ul
            li summary text - global rules
            li rules for beer volunteers
            li link to new site/web service for volunteering
