extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'volunteer'

block title
    title #{ipf.title} | Volunteer

block contents

    h1 Volunteer Page

    article

        h2 this page

        ul
            li summary text - global rules
            li rules for beer volunteers
            li link to new site/web service for volunteering
