extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'sponsors'

block title
    title #{ipf.title} | Sponsors

block contents

    h1 Sponsors Section

    article

        h2 this section

        ul
            li sponsors list (this page)
            li friends of festival

        h2 notes

        ul
            li what's the best way to layout this info and satisify contractual requirements?
            li document the contractual requirements
