extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'events'

block title
    title #{ipf.title} | Events

block contents

    h1 Festival Events

    article

        p The Inman Park Spring Festival includes many different events to suit all interests. They include:

        ul
            li a tour of historic and beautiful neighborhood homes
            li the best festival parade in town
            li three stages of music all weekend
            li dance performances by local professional dance groups
            li a kidzone space for kids to play


        h2 this page

        ul
            li summarize events
            li tour of homes promo/link to buy
