extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'events'

block title
    title #{globals.ipf.title} | Events

block contents

    .u-container
    
        h1 Festival Events
        
        mixin tertiaryNav(globals.events.nav)
        
    .Hero
        p This hero could contain images of any of the events and event areas for festival.
            
    
    .u-container

        article

            p The Inman Park Spring Festival includes many different events to suit all interests:

            ul
                li 
                    a(href="/events/tour-of-homes") a tour of historic and beautiful neighborhood homes
                li 
                    a(href="/events/parade") the best festival parade in town
                li 
                    a(href="/events/music") three stages of music all weekend
                li 
                    a(href="/events/dance") dance performances by local professional dance groups
                li 
                    a(href="/events/kidzone") a kidzone space for kids to play


            p No matter what event or activity brings you to festival, plan to spend the day or weekend in the neighborhood as there is much to see and do.

            p 
                span.Note this would only display when tickets are available to sell
                | Ready to buy Tour of Homes tickets? 
                a(href="#") Get them here.
