extends ../templates/layout.jade

block title
    title #{title} | Events

block contents

    h1 Events Section

    article

        h2 this section

        ul
            li tour of homes
            li parade
            li music
            li dance
            li kidzone


        h2 this page

        ul
            li summarize events
            li tour of homes promo/link to buy