extends ../templates/layout.jade

block title
    title About The #{title}

block contents

    h1 About Section

    article

        p intro text from /festival-101/
        

        h2 this section

        ul 
            li history
            li faq (update dates)
            li announcements (news source)
            li media (1 article), add press kit/info from trademarks page


        h2 this page

        ul
            li basic info: hours, admission and location
            li tour of homes summary and hours
            li bands & entertainment
            li arts/market
            li parade
            li free shuttle?
            li parking


        h2 notes

        ul
            li re-evaluate how content is organized in this section, esp index/festival-101/411/faq
            li map, directions, parking info/links
            li can history be moved to ipna.org ?

