extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Terms of Use

block contents

    .u-container
        h1 Terms of Use

        article

            p We appreciate you visiting the Inman Park Spring Festival.  Please read these Terms  of Use carefully.  By visiting this website, you accept these Terms of  Use.  This is a legally binding agreement between you and the Inman Park Neighborhood Association.

            ol
                li <strong>Privacy Policy.</strong> Your use of this site  also constitutes your acceptance of our Privacy Policy.  Please review  that policy, listed separately on our site.
                
                li <strong>Copyright and Intellectual Property</strong>.  The  materials and content displayed on this site are the property of the Inman Park Neighborhood Association (IPNA) and IPNA has a  license to all title and copyrights in and to that content.  All title  and rights to licensed content on this website is the property of its  owner and may be protected by copyright or other laws and subject to  restrictions under those laws.  Please review the separate Trademark statement on this site.
                
                li <strong>Links to Other Sites.</strong> Our site may  provide links to other websites.  These links are provided for your  convenience only.  IPNA has no control over  these external sites, does not endorse and is not responsible or liable  for any content, products, materials or representations on those sites,  and is not responsible for the availability of those sites.  You agree  that IPNA shall not be responsible for any  damages or losses that you may incur related to your use or reliance on  the content, goods or services available on or through any external  websites.
                
                li <strong>Limitation of Liability and Indemnification.</strong> Visitors to our site agree to indemnify and hold harmless IPNA and its members, officers, agents,  affiliates, contractors, successors and assigns from and against all  liabilities, claims, actions, damages, costs and expenses caused by,  arising out of, or otherwise sustained as a result of the use or misuse  of this site.

                li <strong>NO WARRANTIES.</strong> IF YOU RELY ON THIS WEBSITE OR ANY INFORMATION, PRODUCT OR SERVICE REFERENCED ON THIS WEBSITE, YOU DO SO AT YOUR OWN RISK. IPNA MAKES NO EXPRESS OR IMPLIED WARRANTY AS TO ANY OTHER MATTER, INCLUDING, WITHOUT LIMITATION, THE MERCHANTABILITY OF AND FITNESS FOR ANY PARTICULAR PURPOSE OF THE INFORMATION PROVIDED ON THIS WEBSITE, OR ANY INFORMATION, GOODS OR SERVICES THAT ARE REFERRED TO ON THIS WEBSITE. IN NO EVENT WILL IPNA BE LIABLE FOR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF INVESTMENT, BUSINESS INTERRUPTION OR OTHER SPECIAL, INCIDENTAL, CONSEQUENTIAL OR INDIRECT DAMAGES ARISING OUT OF OR RELATED TO ARISING OUT OF YOUR USE OF THIS WEBSITE OR ANY PRODUCT OR SERVICE LINKED OR REFERENCED IN THIS WEBSITE, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGE.

                li <strong>Applicable Law.</strong> This Terms of Use agreement has been made in and is to be construed under the laws of the  state of Georgia.  By using this website, you agree to the exclusive  jurisdiction and venue of the state and federal courts in Fulton County,  Georgia in all disputes arising out of or relating to these Terms of  Use or use of this website.

                li <strong>Changes to Terms of Use. </strong>From time to  time, we may change the Terms of Use for this site.  If we do so, we  will make those changes and update the Effective Date to show the date  of the change.  We reserve the right to change these Terms of Use at any  time.

                li <strong>Concerns Regarding Use of Intellectual Property.</strong> If you own intellectual property and believe it has been improperly  posted or used on this website, please notify us by sending e-mail to <a href="mailto:lburnette@rbspg.com">lburnette@rbspg.com</a>.
