extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Contact Us

block contents

    .u-container
        h1 Contact Us

        p If you have a question, please send an email to the appropriate point of contact. We will make every effort to get back to you as soon as possible. Thank you for your interest and we hope to see you at Festival!

            
