extends ../templates/layout.jade

block title
    title #{title} | Market

block contents

    h1 Market Section

    article

        h2 this section

        ul
            li arts & crafts market list
            li street market list
            li community corner list

        h2 this page

        ul
            li summarize different markets
            li cta for becoming exhibitor
            li contact point for vendors