extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Street Market
block contents

    .u-container
    
        h1 Street Market
        
        mixin tertiaryNav(globals.markets.nav, "street market")

        
        p Atlanta’s largest Street Market offers more than 250 booths of antiques and handcrafted wares. You will find plenty of unique items — everything from handmade soap and unique plants to one-of-a-kind paintings and specialty jewelry.

        p Below are last year’s Street Market vendors.
