extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Neighborhood History

block contents

    .u-container

        h1 Inman Park History

        p During the Battle of Atlanta, the land which later became Inman Park was the center of many skirmishes. After the Civil War, Inman Park became Atlanta's first planned community and one of the nation's first garden suburbs. It was conceived and developed in the 1880s by entrepreneur Joel Hurt, who believed people should live in a countrylike atmosphere convenient to the central business district. To achieve this goal, he insisted on large lots, curving streets and open park areas throughout the neighborhood.

        p In 1889 he sold, at auction, land lots upon which gracious Victorian mansions were built. In the center of the new community Hurt set aside ten acres for Crystal Lake and Springvale Park, whose spacious grounds were landscaped with rare trees and shrubs, many of which were new varieties to Atlanta.

        p Never short of innovations, Hurt also formed one of the nation's first streetcar systems to provide "rapid transit" from Inman Park to downtown. The trolley route terminated at the Trolley Barn, which still stands today on Edgewood Avenue, just one block from the neighborhood's MARTA station.

        p Inman Park was an immediate success, and many of Atlanta's most prominent citizens took up residence in the community. Families picnicked in beautiful Springvale Park and took leisurely strolls around Crystal Lake. Churches were active, and a strong community spirit prevailed. Those were sunny days for Inman Park. It was not only a good place to live, it was the place to live.


        h2 Decline

        p By 1910, clouds started to gather over the community's future. The exuberant architecture, so fitting for the late Victorian mood, had become passé. Greater mobility with the motorcar assisted in the flight of many of the community's elite to the newer subdivisions being developed to the north. Zoning restrictions in the area expired, allowing the construction of apartment buildings, smaller homes and businesses. Gradually, most of Inman Park's elegant homes became the property of absentee landlords, who divided many of them into small apartments (often as many as ten to one house). By the early 1950's, the neighborhood's original glory was little more than a memory.

        p No one cared enough to protest when the city passed a blanket rezoning ordinance that brought the community to the lowest point in its decline. Crystal lake, clogged with garbage and uncut weeds, became a mosquito-ridden swamp and was drained. Joel Hurt's careful landscaping in Springvale Park went uncared for; again, no one protested when part of it was removed and paved over for the convenience of motorists from the outer edges of town who passed through Inman Park on their way to work. Junk cars lined the streets and sat in yards, and neglect was rampant.

        p Though Hurt's conception of suburban living became quite popular, the first execution of that concept was forgotten. It seemed to many that Inman Park had become a casualty of a culture that chose to forget things that are old.


        h2 Rebirth

        p Happily, someone chose to remember. Someone who fell in love with an Inman Park home, and, against everyone's advice, bought it and began restoring it to its original grandeur. Other urban pioneers soon joined Robert Griggs, and Inman Park began to rise again. In 1970 Inman Park Restoration, Inc., was formed, and within a year, forty houses were in the process of renovation.

        p As the people worked together to reclaim their long-neglected homes from the ravages of slum conditions, they soon realized that more was going on in Inman Park than the restoration of a few isolated houses. Almost without being aware of it, the new residents were reweaving the fiber of a neighborhood and creating a living community of people who cared about each other.

        p Not long after the restoration of Inman Park began, the neighborhood was again threatened… this time by the Georgia Department of Transportation. A freeway was proposed that would have cut through the neighborhood. Inman Park residents worked with other inner-city neighborhoods to block construction of the freeway. Unfortunately, many fine old mansions had already been demolished, in the name of "progress," before the project was canceled.

        p Before Inman Park could become a really respectable neighborhood again, something had to be done to change the zoning pattern. At this time, almost the entire area was zoned industrial and commercial. After two years of concentrated work and planning, Inman Park succeeded in doing something that had rarely been done before: the entire neighborhood was zoned back to residential. On July 22,1973, Inman Park was officially listed on the National Register of Historic Places.


        h2 Inman Park Today

        p There are now over 300 homes in various stages of restoration or renovation in Inman Park. The special spirit of caring and cooperation that brought the community back is manifested in many ways. There is a strong neighborhood association, a hard-working garden club, a tree-planting and maintenance group, and an excellent pre-school program.

        p Each year Inman Park welcomes its neighbors everywhere to the Spring Festival and Tour of Homes, a two day celebration of parades, entertainment, dancing and open houses. A mammoth undertaking for this small community, the event annually draws thousands of visitors to the neighborhood.

        p Inman Park takes pride in its characterization as a "SmallTown DownTown," combining the desirable elements of small town living with a dedication to the growth of the inner city. No longer a forgotten, tumble-down, crime-ridden pocket of Atlanta, the Inman Park of today is looking both ways… at the charm of the past and to the excitement of the future.
