extends ../templates/layout.jade

block title
    title #{ipf.title} | Privacy Policy

block contents

    .container
        h1 Privacy Policy

    article

        section.container

            p We don't have one. Ditch this or create one? Ask Lisa.
