extends ../templates/layout.jade

block title
    title #{globals.ipf.title} | Privacy Policy

block contents

    .u-container
        h1 Privacy Policy

        p We don't have one. Ditch this or create one? Ask Lisa.
